{
    email admin@colivi.com
}

{$DOMAIN:colivi.denmarkeast.cloudapp.azure.com} {
    encode zstd gzip

    # Proxy para la API REST del backend Spring Boot
    handle /api/* {
        reverse_proxy backend:8080
    }

    # Proxy para endpoints de documentación OpenAPI / Swagger
    handle /swagger-ui/* {
        reverse_proxy backend:8080
    }
    handle /v3/api-docs/* {
        reverse_proxy backend:8080
    }

    # Proxy para el frontend web estatico servido por Nginx
    handle {
        reverse_proxy frontend:80
    }
}
